<ngb-carousel class="carousel"showNavigationArrows="true" interval="4200" pauseOnHover="false">
  <ng-template ngbSlide>
    <img src="../../../assets/img/wel.jpeg" alt="Best Sellers Books" title="Best Sellers Books">
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/img/newrelease.jpg" alt="New Releases" title="New Releases">
  </ng-template>
 
  <ng-template ngbSlide>
    <img src="../../../assets/img/school.jpg" alt="School Books" title="School Books">
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../assets/img/bookquote.jpg" alt="book quote" title="Book Quote">
  </ng-template>
</ngb-carousel>


<div class="jumbotron jumbotron-billboard" >
  <h1 class="display-6" style="color:red">Welcome to <strong>CGI BOOK-WORLD</strong></h1>
    <h4>IF you don't like to read, haven't found the right book</h4>
    <hr class="my-4">
    <ul >
        <li><h5>If your a book lover,your at right place.</h5></li>
        <li><h5>If You wish to renew your mind <strong>READ</strong> </h5></li>
    </ul>
    <a class="btn btn-primary btn-lg" routerLink="/users/login" role="button">Travel over</a> 
</div>
<div class="card-columns">
    <div class="card p-3 ">
        <div class="card-body ">
        <h5 class="card-header bg-secondary text-white text-center">Book Carnival</h5>
        <p class="card-text">Friendship with good books makes you a good person. 
          In case when there is no one for your help,
           only these will become your companion in life.
           Books will always be there for you in your 
           adverse times and bring positive value to our life.
        </p>
      </div>
    </div>
    <div class="card bg-info text-white text-center p-3">
        <blockquote class="blockquote mb-0">
          
          <p>“Books are the quietest and most constant of <strong>friends</strong>; they are the most accessible and wisest of counselors, and the most patient of teachers.”
            – Charles W. Eliot</p>
        </blockquote>
    </div>
    
    <div class="card p-3">
        <div class="card-body">
        <h5 class="card-header bg-secondary text-white text-center">Book World</h5>
        <p class="card-text">Books are important in various Unexpected ways, 
          Books allow Readers to travel without using their feet, Books give wings to our imagination, 
          books are full of knowledge, joy, happiness, wisdom and so much more into it.
          <br>
           Books are more than enjoyment,
           Books have the capability to transform your life, Books can help you in your hardest time,
            books make you realize that you are not alone in this world who are struggling, 
          Book gives a solution and gives you a new way and a new perspective to look at things and situations. 
        </p>
      </div>
    </div>
</div>    


